/* FOOTER */
.footer {
    background-color: #035E8D;
    color: white;
    padding: 1rem 0;
    margin-top: auto;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

