    <!-- HEADER -->
<header class="header">
    <div class="nav-container">
        <div class="logo">
            <span style="color: white; font-size: 2.5rem; font-weight: 600;">🐾 Clini</span>
            <span style="color: #fea240; font-size: 2.5rem; font-weight: 600;">Pet</span>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="info.html">Información</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
            <div class="login-placeholder"></div>
    </div>
</header>